@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap');
:root{
    --main_color:#00586E;
    --main2-color: #43A865;
    --main3-color: #5dc7dc;
}
body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
a{
    text-decoration: none;
    color:white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}
img{
    max-width: 100%;
}
button{
    background-color: var(--main2-color);
    padding:10px 20px;
    border:none;
    cursor: pointer;
    border-radius: 5px;
}
main{
    font-family: 'Roboto Mono', monospace;
}

/* ------------------------------------------------------------------ header */

header{
    background-color: var(--main_color);
    height:50px;
    display:flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 1;
}
.header-div{
    flex:1;
}
.logo{
    padding-left:20px;
}
.menu{
    display: flex;
    justify-content: space-evenly;
}
.menu a{    /*efecto de subrayado*/
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.menu a:hover, a:focus{
    color: #2B2C34;
    background-size: 100% 2px;
}
.burger_button{
    display:none;
}

/* ------------------------------------------------------------------ hero */

.hero{
    height:100vh;
    max-width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero-title{
    width: 630px;
    display:flex;
    align-items: center;
    margin-left:120px;
}
.hero-title h1{
    color:white;
    font-weight: 400;
    font-size:45px;
}
.hero-button{
    display:flex;
    align-items: center;
    justify-content: center;
}
.hero-button a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
}
.hero-button button:hover{
    background-color: var(--main_color);
}
.whatsapp-button{
    background-color:#D1D1E9 ;
    width: 220px;
    border-radius: 20px;
    position: fixed;
    bottom: 10px;
    z-index: 1;
}
.whatsapp-button a{
    color:#2B2C34;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 12px;
}
.whatsapp-button img{
    padding-right: 5px;
}

/* ------------------------------------------------------------------ section "us" */

.us-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin:40px 50px;
}
.us-section{
    width: 100%;
    display:flex;
    justify-content: center;
    padding:10px 0px;
    overflow: hidden;
}
.us-container img{
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}
.us-text{
    width: 50%;
}
.us-text h3{
    font-size: 25px;
    margin: 0;
    letter-spacing: 2px;
}
.us-text p{
    margin:0;
    font-size:16px;
}

/* ------------------------------------------------------------------ section "services" */
.services-container{
    border-top:5px solid var(--main_color);
    margin:0px 50px;
    margin-top:100px;   
}
.services-container h3{
    font-size: 30px;
    text-align: center;
    margin:20px 50px;
    padding:30px 0px;
    letter-spacing: 4px;
}
.services{
    display: flex;
    justify-content: center;
}
.services-content{
    text-align: center;
    font-size: 26px;
    margin:auto; 
}
.services-content-images{
    max-width: 350px;
} 
.services-container-details{
    margin:50px;
    display:flex;
    justify-content: center;
}
.services-details{
    background-color: #D1D1E9;
    width: 250px;
    height: auto;
    margin:auto;
    padding:20px 10px;
    overflow: hidden;
}
.title-content{
    display: flex;
}
.title-content img{
    width: 80px;
}
.title-content h4{
    font-size: 20px;
    margin-left: 20px;
    letter-spacing: 2px;
}

/* ------------------------------------------------------------------ section "clients & contact" */

.clients-container{
    height: 250px;
    background-color: #D1D1E9;
    display: flex;
    align-items: center;
}
.clients-container img{
    width: 220px;
    padding:0px 50px;
}
.contact-container{
    height: 150px;
    display: flex;
    align-items: flex-end;
    margin:50px 100px;
}
.contact{
    width: 600px;
    margin-right: 50px;
}
.contact h4{
    font-size:25px;
    margin:0px;
}
.contact p{
    margin: 0px;
}
.contact-button{
    margin-bottom: 13px;
}
.contact-button a{
    font-weight: 500;
    font-size: 25px;
}
.contact-button button:hover{
    background-color: var(--main_color);
}

/* ------------------------------------------------------------------ footer */

footer{
    background-color: var(--main_color);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 50px;
    font-family: 'Roboto Mono', monospace;
    color:white;
    border-top: 20px solid var(--main2-color);
    position: relative;
    z-index: 2;
}
.social-media i:hover{
    color:#2B2C34;
}
.small-footer{
    background-color: var(--main_color);
    margin:0px;
    color:white;
    font-family: 'Roboto Mono', monospace;
    padding: 0px 50px;
    border-top: 2px solid white;
    position: relative;
    z-index: 2;
}

/* -------------------------------------------------------------------- icono de menu */

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?t6rogz');
    src:  url('../fonts/icomoon.eot?t6rogz#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?t6rogz') format('truetype'),
      url('../fonts/icomoon.woff?t6rogz') format('woff'),
      url('../fonts/icomoon.svg?t6rogz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e903";
  }

/* -------------------------------------------------------------------- loading-scrollbar */

.progress-indicator {
    position: fixed;
    z-index: 1;
    top: 50;
    left: 0;
    height: 3px;
    background: linear-gradient(165deg, #5dc7dc , #43A865);
}
