@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap');
body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
a{
    text-decoration: none;
    color:white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}
img{
    max-width: 100%;
}
button{
    background-color: #E45858;
    padding:10px 20px;
    border:none;
    cursor: pointer;
    border-radius: 5px;
}
main{
    font-family: 'Roboto Mono', monospace;
}

/* ------------------------------------------------------------------ header */

header{
    background-color: #8A2BE1;
    height:50px;
    display:flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.header-div{
    flex:1;
}
.logo{
    padding-left:20px;
}
.menu{
    display: flex;
    justify-content: space-evenly;
}
.menu a{/*efecto de subrayado*/
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.menu a:hover, a:focus{
    color: #2B2C34;
    background-size: 100% 2px;
}

/* ------------------------------------------------------------------ hero */

.hero{
    height:100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-image: url(../images/hero.png);
    background-size: cover;
    position: relative;
}
.hero-title{
    width: 630px;
    display:flex;
    align-items: center;
    margin-left:120px;
}
.hero-title h1{
    color:white;
    font-weight: 400;
    font-size:45px;
}
.hero-button{
    display:flex;
    align-items: center;
    justify-content: center;
}
.hero-button a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
}
.hero-button button:hover{
    background-color: #8A2BE1;
}
.whatsapp-button{
    background-color:#D1D1E9 ;
    width: 220px;
    border-radius: 20px;
    position: fixed;
    bottom: 10px;
    z-index: 1;
}
.whatsapp-button a{
    color:#2B2C34;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 12px;
}
.whatsapp-button img{
    padding-right: 5px;
}

/* ------------------------------------------------------------------ section "us" */

.us-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin:40px 50px;
}
.us-section{
    width: 100%;
    display:flex;
    justify-content: center;
    padding:10px 0px;
}
.us-container img{
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}
.us-text{
    width: 50%;
}
.us-text h3{
    font-size: 25px;
    margin: 0;
    letter-spacing: 2px;
}
.us-text p{
    margin:0;
    font-size:16px;
}

/* ------------------------------------------------------------------ section "services" */
.services-container{
    border-top:5px solid #8A2BE1;
    margin:0px 50px;
    margin-top:100px;   
}
.services-container h3{
    font-size: 30px;
    text-align: center;
    margin:20px 50px;
    padding:30px 0px;
    letter-spacing: 4px;
}
.services{
    display: flex;
    justify-content: center;
}
.services-content{
    text-align: center;
    font-size: 26px;
    margin:auto; 
}
.services-content-images{
    max-width: 350px;
} 
.services-container-details{
    margin:50px;
    display:flex;
    justify-content: center;
}
.services-details{
    background-color: #D1D1E9;
    width: 250px;
    height: 300px;
    margin:auto;
    padding:20px 10px;
}
.title-content{
    display: flex;
}
.title-content img{
    width: 80px;
}
.title-content h4{
    font-size: 20px;
    margin-left: 20px;
    letter-spacing: 2px;
}

/* ------------------------------------------------------------------ section "clients & contact" */

.clients-container{
    height: 250px;
    background-color: #D1D1E9;
    display: flex;
    align-items: center;
}
.clients-container img{
    width: 220px;
    padding:0px 50px;
}
.contact-container{
    height: 150px;
    display: flex;
    align-items: flex-end;
    margin:50px 100px;
}
.contact{
    width: 600px;
    margin-right: 50px;
}
.contact h4{
    font-size:25px;
    margin:0px;
}
.contact p{
    margin: 0px;
}
.contact-button{
    margin-bottom: 13px;
}
.contact-button a{
    font-weight: 500;
    font-size: 25px;
}
.contact-button button:hover{
    background-color: #8A2BE1;
}

/* ------------------------------------------------------------------ footer */

footer{
    background-color: #8A2BE1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 50px;
    font-family: 'Roboto Mono', monospace;
    color:white;
    border-top: 20px solid #E45858;
    position: relative;
    z-index: 2;
}
.social-media i:hover{
    color:#2B2C34;
}
.small-footer{
    background-color: #8A2BE1;
    margin:0px;
    color:white;
    font-family: 'Roboto Mono', monospace;
    padding: 0px 50px;
    border-top: 2px solid white;
    position: relative;
    z-index: 2;
}