@media screen and (max-width:360px){
    .us-text{
        width: auto;
    }
    .title-content{
        display: block;
        text-align: center;
    }
    .services-details{
        font-size: .7rem;
    }
}
@media screen and (max-width:640px){
/* ------------------------------------------------------------------ burger-menu */

.burger_button{
    height: 40px;
    width: 40px;
    background-color:rgba(138,43,225,.9);
    border-radius: 20px;
    text-align: center; /* centrado horizontal*/
    line-height: 40px; /*centrado vertical*/
    position:fixed;
    z-index:6;
    top:5px;
    right:5px;
    color:white; /*da color al icono por ser un texto*/
    font-size: 24px; /*da el tamaño al icono por ser un texto*/
    display:none;
}

/* ------------------------------------------------------------------ menu-transparent */    

    .menu{
        position: fixed;
        display: block;
        background-color: rgba(138,43,225,.9);
        z-index: 2;
        top:0;
        bottom: 0;
        right: -100vw; /*este valor hara que se oculte el menu al quitarle todo el ancho de 100vw declarado abajo*/
        width:100vw; 
        line-height: 70vh;
        transition: .3s; /*dara una animacion swipe right*/
    }
    .menu.activate{
        right:0;
    }
    .menu a{
        display:block;
        height: 40px;
        font-size: 2em;
        text-align: center;
        margin-bottom: .5em;
        background-image: none;
    }
    .burger_button{
        display:block;
    }

/* ------------------------------------------------------------------ menu-transparent */  

    .hero-title{
        width: auto;
        text-align: center;
        margin:auto;
    }
    .hero-title h1{
        font-size: 35px;
    }
    .services-container h3{
        margin: auto;
    }
    .services{
        flex-wrap: wrap;
    }
    .title-content h4{
        font-size: 1rem;
    }
    .title-content img{
        width: 60px;
    }
    .contact-container{
        flex-wrap: wrap;
    }
    .contact-button{
        margin:auto;
        margin-top:20px;
    }
}
@media screen and (max-width:768px){
    main{
        margin:auto;
    }
    .us-container{
        grid-template-columns: 100%;
        grid-template-rows: none;
        grid-template-areas: "area1" "area2" "area3" "area4" "area5" "area6" ;
        margin: 30px 10px;
        height: auto;
    }
    .us-section{
        padding:15px 0px;
    }
    .us-container img{
        width: auto;
        box-shadow: none;
    }
    .us-text{
        width: 80%;
        text-align: center;
    } 
    .area1{
        grid-area: area1;
    }
    .area2{
        grid-area: area2;
    }
    .area3{
        grid-area: area3;
    }
    .area4{
        grid-area: area4;
    }
    .area5{
        grid-area: area5;
    }
    .area6{
        grid-area: area6;
    }
}
@media screen and (max-width:1024px){
    .hero-title{
        width: auto;
    }
    .services-details{
        margin:10px;
    }
    .services-container-details{
        flex-wrap: wrap;
        margin:10px;
    }
    .clients-container{
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
}